<h1><%= @restaurant.name %></h1>

<ul>
<% @restaurant.reviews.each do |r| %>
  <li><%= "#{r.content} | rating #{r.rating}" %></li>
<% end %>
</ul>

<%= link_to "back", restaurants_path %>

<%= link_to "add review", new_restaurant_review_path(@restaurant) %>
